<header class="masthead">
  {% if site.avatar -%}
    <div class="avatar">
      {%- if site.avatar contains "://" -%}
        {%- assign avatar = site.avatar -%}
      {%- else -%}
        {%- assign avatar = site.avatar | relative_url -%}
      {%- endif -%}
      <img src="{{ avatar }}" class="avatar-image" alt="{{ site.author.name }}">
    </div>
  {%- endif %}
  <div class="masthead-title">
    <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
  </div>
  {%- if site.data.news -%}
    <ul class="latest-news">
    {%- for item in site.data.news -%}
      <li class="latest-news-item">
        <span class="latest-news-date">[{{ item.date }}]</span>
        <span class="latest-news-text">{{ item.text }}</span>
      </li>
    {%- endfor -%}
    </ul>
  {%- endif -%}
  {%- if site.data.navigation -%}
  <nav class="navigation">
    <ul class="navigation-list">
    {%- for nav in site.data.navigation -%}
      <li class="navigation-item">
        {%- assign current_item = false -%}
        {%- if page.url == nav.url -%}
          {%- assign current_item = true -%}
        {%- elsif nav.url == "/" and page.url == "/about/" -%}
          {%- assign current_item = true -%}
        {%- elsif nav.url == "/blog/" and page.url contains "/blog/" -%}
          {%- assign current_item = true -%}
        {%- elsif nav.url == "/blog/" and page.layout == "post" -%}
          {%- assign current_item = true -%}
        {%- elsif nav.url == "/blog/" and page.layout contains "archive" -%}
          {%- assign current_item = true -%}
        {%- endif -%}
        <a class="{% if current_item %}current-item{% endif %}" onclick="sessionStorage.setItem('forceCheckScroll', 'true')" href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
      </li>
    {%- endfor -%}
    </ul>
  </nav>
  {%- endif -%}
  {% if site.data.social -%}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-icons pure-menu-list">
      {% for social in site.data.social -%}
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="{{ social.url }}">
            <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
          </a>
        </li>
      {%- endfor %}
      </ul>
    </div>
  {%- endif %}
</header>
